.container-main {
  font-family: "Share Tech Mono", monospace;
  margin: 20px auto;
  max-width: 1000px;
  border: #333 1px solid;
  padding: 50px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: white;
}
h1 {
  padding: 50px;
  text-align: center;
  font-family: "Audiowide", sans-serif;
}
h3 {
  font-size: 16px;
  padding: 20px;
  margin-bottom: 40px;

}
p {
  padding-top: 15px;
}
/*Main total display at bottom of page*/
.live-total {
  text-align: center;
  font-size: 28px;
}
/*Quantity label resizing*/
.label-qty {
  max-width: 50px;
}
/*Submit button*/
.submit-btn {
  display: block;
  margin: 20px auto;
  background-color: #FFE81F;
  color: rgb(0, 0, 0);
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: black;
  color: #FFE81F;
}
/*Back to top button at bottom of page when user scrolls*/
#backToTop {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 150px;
  z-index: 95;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  background-color: #333;
  color: white;
  font-size: 40px;
  font-weight: bold;
  line-height: 46px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#backToTop:hover {
  background-color: #555;
  transform: scale(1.1);
}
/*Cart Total Card*/
#floatingTotalCard {
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 9999;
  width: 180px;
  border-radius: 10px;
  cursor: grab;
  user-select: none;
}
#floatingTotalCard.collapsed #cardBody {
  display: none;
}
#floatingTotalCard .card-header {
  background-color: #f8f9fa;
  padding: 10px;
  font-weight: bold;
  cursor: grab;
}
.cursor-move {
  cursor: move;
}
