
.container {
  padding: 50px;
  background-color: #6e6e6e;
  margin: 0;
}

.container-main {
  font-family: "Share Tech Mono", monospace;
  margin: 20px auto;
  max-width: 1000px;
  border: #333 1px solid;
  padding: 50px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: white;
}
.form-container {
  color: #333;
}
h1 {
  color: white;
  text-align: center;
  font-family: "Audiowide", sans-serif;
}
h3 {
  font-size: 16px;
  padding: 20px;
  margin-bottom: 40px;

}
p {
  padding-top: 15px;
}
.label-qty {
  max-width: 50px;
}
.submit-btn {
  display: block;
  margin: 20px auto;
  background-color: #FFE81F;
  color: rgb(0, 0, 0);
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: black;
  color: #FFE81F;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.hidden {
  display: none;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
  text-align: center;
}

.modal-buttons {
  margin-top: 20px;
}

.modal-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
}
